
.container {
    position: relative;
    background-color: #ffffff;
    padding: 10px;
}

.x-button {
    text-align: right;
}

.wd-kanbas-navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wd-kanbas-navigation li {
    margin-bottom: 10px; /* Adjust the spacing between each link */
}

.wd-kanbas-navigation li a {
    text-decoration: none;
    color: #000000;
    display: block; /* Display each link on a new line */
}
